$order-color: #555B6E;
$text-color: #fff;
$tablet-break-point: 768px;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Fjalla+One&family=Lobster&family=Oxygen:wght@700&family=Roboto+Slab:wght@500&family=Sedgwick+Ave+Display&display=swap');

.methods{

    &--container{
        opacity: 0;
    }

    &--number{
        color: $text-color;
        font-size: 2.5rem;
        background-color: $order-color;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        width: 100px;
        height: 100px;
}
    &--name{
        color: $text-color;
        font-size: 1.5rem;
        font-family: 'Lobster', sans-serif;
    }

    &__line{
        height: 5px;
        width: 150px;
        background-color: $order-color;
    }
    .animate{
        animation-duration: 5s;
        animation-name: left_right;
        animation-fill-mode: forwards;
    }
}

@keyframes left_right {
    from{
        opacity: 0;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
}
    to{
        opacity: 1;
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
}
}


@media screen and (max-width: $tablet-break-point) {
    .methods{
        &--container{
            align-items: center!important;
        }

        &__line{
                display: none;
        }
            }
}